<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Thymeleaf 3 + Servlet 3 example</title>
        <meta charset="utf-8" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
       <link rel="stylesheet" type="text/css" th:href="@{/templates/css/style.css}">
       
	</head>

<body>
	<div class="dropdown float-right">
	  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
	    <span name="id" th:text="${username}"> </span>
	    
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
	    <li><a class="dropdown-item" th:href="@{/LogoutServlet}">Log out</a></li>
	  </ul>
	</div>
	
    <div class="container">
        <div class="row">
          
            <div class="col-lg-12 col-md-12 login-box">
       		
                <div class="col-lg-12 login-key">
                    <i class="fa-solid fa-bug"></i>
                </div>
                <div class="col-lg-12 login-title">
                    ISSUE TRACKING
                </div>
                
       <button type="button" class="btn btn-primary m-3" data-bs-toggle="modal" data-bs-target="#exampleModal">       
  Create new Issue
		</button>
		
		<table class="table table-dark table-striped">
		<div class="col-md-2 text-start">
			<form action="" method="post">
				<input type="hidden" name="action" value="filter"/>
				<div class="text-white"> Filter by status</div>
				<select name="statusFilter" class="form-select" aria-label="Default select example">
				<option value="without" ></option>
  				<option value="To do" th:selected="${statusFilter} =='To do'?true:false">To do</option>
  				<option value="In progress" th:selected="${statusFilter} =='In progress'?true:false">In progress</option>
  				<option value="Done" th:selected="${statusFilter} =='Done'?true:false">Done</option>
				</select>
				<button type="submit" class="btn btn-secondary mt-2 mb-2">Filter</button>
			</form>
		</div>
 	 <thead>
   	 <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Category</th>
      <th scope="col">Time Created</th>
      <th scope="col">Time Modified</th>
      <th scope="col">Created by</th>
      <th scope="col">Status</th>
      <th scope="col">Assigned to</th>
      <th scope="col">Modified by</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
   	 </tr>
	  </thead>
 	 <tbody>
    <tr  th:each="issue: ${issues}" onclick="'javascript:rowClicked(\'' + ${issue} + '\');'">
      <td th:text="${issue.title}" />   </td>
      <td th:text="${issue.description}" />   </td>
      <td th:text="${issue.category}" />   </td>
      <td th:text="${issue.timeCreated}" />   </td>
      <td th:text="${issue.timeModified}" />   </td>
      <td th:text="${issue.createdBy}" />   </td>
      <td th:text="${issue.status}" />   </td>
      <td th:text="${issue.assignedTo}" />   </td>
      <td th:text="${issue.modifiedBy}" />   </td>
      <td> 			
  				<a type="button" id="submitButton" class="bg-transparent border-0" th:href="@{'/UpdateIssueServlet?id=' + ${issue.id}}">  <i class="fa-solid fa-pencil text-muted" ></i> </a>
		
	 </td>
	 <td> 			
			<form action="#" method="post" >
  			<input type="hidden" name="action" value="delete"/>
  			<input type="hidden" name="id" th:value="${issue.id}"/>
  				<button type="submit" id="submitButton" class="bg-transparent border-0">  <i class="fa-solid fa-trash text-danger" ></i> </button>
			</form>	
	 </td>
    </tr>
  </tbody>
</table>

                <div class="col-lg-12 login-form">
                    <div class="col-lg-12 login-form">
                      
                    </div>
                </div>
                <div class="col-lg-3 col-md-2"></div>
            </div>
        </div>
	 </div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title text-white" id="exampleModalLabel">Create new Issue</h5>
        <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form  method="post">
      		<div class="modal-body">
         
                            <div class="form-group">
                                <label class="form-control-label">Title</label>
                                <input type="text" name="title" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Description</label>
                                <input type="text" name="description" class="form-control" >
                            </div>
                           <div class="form-group">
                                <label class="form-control-label">Category </label>
                                <input type="text" name="category" class="form-control" >
                            </div>
                           <div class="form-group">
                                <label class="form-control-label">Assigned to</label>
                                <input type="text" name="assignedTo" class="form-control" >
                            </div>                         
                                          
                          <div class="form-group">
                                <label class="form-control-label">Status issue</label>
                                <select name="status" class="form-select col-md-2" aria-label="Default select example">
					  						<option value="To do">To do</option>
							  				<option value="In progress">In progress</option>
							  				<option value="Done">Done</option>
										</select>
                            </div>                        
  
                
                        
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
        
       
      </div>
    </div>
    </form>
   </div>
  </div>
 </div>
</body>

</html>